// // Imports SCSS theme
// // Vendors variables override and path
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  line-height: 32px;
  text-align: center;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 900;
  color: #fff;
}
.site-layout .site-layout-background {
  background: #fff;
}
